<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>A Happy Child 首页</title>
    <link rel="stylesheet" href="../../css/index/index.css" type="text/css"/>
</head>
<script src="../../js/jquery-1.11.3.js"></script>
<body>
<div class="mains">

    <div class="logo">
        <img src="../../image/index/logo.jpg"/>
    </div>

    <div class="menus" id="menus">
        <ul class="menu-ul" id="menu-ul">
            <!--<li><a href="#">首页</a></li>-->
            <!--<li><a href="#">中页</a></li>-->
            <!--<li><a href="#">尾页</a></li>-->
        </ul>
    </div>

    <div class="twoMenus" id="twoMenus">
        <div class="lefts" id="lefts">
            <ul class="menu-two-ul">
                <li><a href="#">今天</a></li>
                <li>・</li>
                <li><a href="#">昨天</a></li>
                <li>・</li>
                <li><a href="#">更多</a></li>
            </ul>

            <div class="cards">
                <div class="imgs">
                    <a href="#"><img src="../../image/index/85ae2adbdbe4ac8da07138f7e8f3d991.jpg" width="175"
                                     height="98"/></a></div>
                <div class="texts">
                    <h4><a href="#">当古代社会人口超100万后，复仇心切的神就出现了</a></h4>
                    <span><a href="#">Diehard</a> ・ <a href="#">史海钩沉</a></span>
                    <p>宗教信仰在整个世界史中扮演了一个功能性角色，在总体上帮助稳定社会并且促进人与人之间的协作</p></div>
            </div>
        </div>
    </div>

    <div class="rights" id="rights">
        <div class="search" id="search">搜索</div>
    </div>
</div>
</body>
</html>
<script src="../../js/index/index.js"></script>
<script src="../../js/index/menu.js"></script>
<script>


</script>