<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>A Happy Child 详情</title>
    <link rel="stylesheet" href="../../css/detail/detail.css" type="text/css"/>
</head>
<script src="../../js/jquery-1.11.3.js"></script>
<body>
<div class="mains">

    <div class="logo">
        <img src="../../image/index/logo.jpg"/>
    </div>

    <div class="menus" id="menus">
        <ul class="menu-ul" id="menu-ul">
            <!--<li><a href="#">首页</a></li>-->
            <!--<li><a href="#">中页</a></li>-->
            <!--<li><a href="#">尾页</a></li>-->
        </ul>
    </div>

    <div class="twoMenus" id="twoMenus">
        <div class="lefts" id="lefts">
            <ul class="menu-two-ul">
                <li>・</li>
                <li><a href="#">人工智能</a></li>
            </ul>

            <div class="detail">
                <div class="nameTimeTitle">
                    <span class="names">majer</span><span class="upTimes">@ 2019.03.27,09:00</span>
                    <h3>1/4的欧洲人宁愿用AI来指定政策</h3>
                </div>

                <div class="contexts">
                    <p>关于欧洲人对技术的态度，调查后发现，如果某项政策决策是由人工智能而不是政治家做出的，那么1/4的欧洲公民会更支持它。</p>
                </div>

                <div class="discusing">
                    <div class="discuss">
                        <p class="disName">zergan</p>
                        <p class="disText">让酸奶来统治吧</p>
                    </div>
                    <div class="discuss">
                        <p class="disName">zergan</p>
                        <p class="disText">让酸奶来统治吧</p>
                    </div>
                    <div class="comment">
                        <p>发表评论</p>
                        <div class="comName"><span>昵 称： </span><input id="comName-input"/></div>
                        <div class="comEmail"><span>邮 箱： </span><input id="comEmail-input"/></div>
                        <textarea class="comContext"></textarea>
                        <button class="comBtn">点击发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rights" id="rights">
        <div class="search" id="search">搜索</div>
    </div>
</div>
</body>
</html>
<script src="../../js/index/index.js"></script>
<script src="../../js/detail/detail.js"></script>
